*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body {
    height: 100vh;
    display: flex;
}
.background-image {
    width: 40%;
}
.sideImage {
    height: 100%;
    width: 100%;
}
.formPart{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: grey;
}
.textPart {
    margin: 5rem 0;
    line-height: 1.8rem;
    max-width: 40rem;
    word-wrap: break-word;
}
.textPart h2 {
    font-size: 1.5rem;
    line-height: 1.3;
}
.textPart h2:first-child{
    margin-bottom: 2rem;
}
.main-content {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 3rem;
}
.main-content legend {
    font-size: 1.5rem;
    font-weight: bold;
}
.row {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}
.labelPart {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.labelPart input {
    height: 30px;
}
button.submit {
    width: 200px;
    height: 45px;
    background-color: #596D48;
    margin-bottom: 2rem;
    margin-left: 1rem;
    color: #fff;
    border: 1px solid #596D48;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
}
